.banner {
  background-image: url("../../images/banner.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  height: inherit;
  width: 100%;
  z-index: 0;
}

.banner__wrapper {
  position: relative;
  z-index: 1;
  max-width: 50rem;
  text-align: center;
  color: #fff;
}
.banner__wrapper h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
}
